.rama-slider-basic {
  overflow: hidden;
  position: relative;

  .rama-slider-track {
    display: flex;
    transition: transform;
    @import '../styles/rama-slide.scss';
  }

  @import '../styles/arrows.scss';
}
